#section{width: 729px;float: right;}
#section h2{margin: 23px 0 0 27px;}
#section .anc{height: 23px;width: 100px;margin: 20px 0 0 41px;font-size:18px;}
#section .content{width: 515px;height: 117px;margin: 20px 0 0 40px;position: relative;}
#section .content .date{width: 207px;height: 16px;position: absolute;right: 15px;bottom: 10px;}