
/* 清除浏览器默认样式,以免造成不必要的兼容问题 */
body{font-family: "微软雅黑";font-size: 14px;}

body,dl,dt,dd,p,h1,h2,h3,h4,h5,h6{margin:0;}

ol,ul{margin:0;padding:0;list-style:none;}

a{text-decoration:none;color: #000;}

img{border:none;}

*{margin:0;padding:0;}
