
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1494916535847'); /* IE9*/
  src: url('iconfont.eot?t=1494916535847#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1494916535847') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1494916535847') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1494916535847#iconfont') format('svg'); /* iOS 4.1- */
}

@font-face {
  font-family: 'iconfont';  /* project id 360292 */
  src: url('//at.alicdn.com/t/font_l6t0olj3szs8xgvi.eot');
  src: url('//at.alicdn.com/t/font_l6t0olj3szs8xgvi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_l6t0olj3szs8xgvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_l6t0olj3szs8xgvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_l6t0olj3szs8xgvi.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenzhang:before { content: "\344e"; }

.icon-enclosure:before { content: "\e617"; }

.icon-notification:before { content: "\e637"; }

.icon-zuoye:before { content: "\e60f"; }

.icon-zuoye1:before { content: "\e65b"; }

.icon-shezhi:before { content: "\e68f"; }

.icon-pinglun:before { content: "\e6ad"; }

.icon-shangjiantou:before { content: "\f034d"; }

.icon-xiajiantou:before { content: "\f034e"; }

.icon-accessory:before { content: "\e6dd"; }

.icon-management:before {content:"\e639";}

.icon-data:before {content: "\e607" ;}

